*::-moz-selection {
  color: white;
  background-color: #6c0000;
}

*::selection {
  color: white;
  background-color: #6c0000;
}

body {
  overflow-x: hidden;
  background-color: #e6e6e6;
}

#hero {
  background-image: url("../img/lusk-hero.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

#map {
  height: 400px;
  width: 100%;
}

#img-head {
  background-image: url("../img/lusk-hero.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  overflow-x: hidden;
}

#img-head-about {
  background-image: url("../img/lusk-about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  overflow-x: hidden;
}

#img-head-gallery {
  background-image: url("../img/lusk-gallery.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  overflow-x: hidden;
}

#img-head-portfolio {
  background-image: url("../img/lusk-portfolio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  overflow-x: hidden;
}

#events, #news {
  height: 30vh;
}

.hero-text {
  position: relative;
}

.hero-text::after {
  content: '';
  display: block;
  position: absolute;
  top: -32px;
  left: 0;
  height: 20px;
  width: 0%;
  background-color: white;
  -webkit-animation: slide 1s ease 0.5s forwards;
          animation: slide 1s ease 0.5s forwards;
  z-index: 0;
}

.head-tag {
  position: relative;
}

.head-tag::after {
  content: '';
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  height: 7px;
  width: 0rem;
  background-color: #920000;
  -webkit-animation: headslide 1s ease 0.5s forwards;
          animation: headslide 1s ease 0.5s forwards;
  z-index: 0;
}

.selected {
  position: relative;
  color: #ff0000;
}

.selected::after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0%;
  top: -120;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #ff0000;
  -webkit-animation: selectslide 1s ease 0.5s forwards;
          animation: selectslide 1s ease 0.5s forwards;
}

@-webkit-keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 400px;
  }
}

@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 400px;
  }
}

@-webkit-keyframes selectslide {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes selectslide {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes headslide {
  0% {
    width: 0%;
  }
  100% {
    width: 4rem;
  }
}

@keyframes headslide {
  0% {
    width: 0%;
  }
  100% {
    width: 4rem;
  }
}

@media screen and (max-width: 800px) {
  @-webkit-keyframes slide {
    0% {
      width: 0%;
    }
    100% {
      width: 300px;
    }
  }
  @keyframes slide {
    0% {
      width: 0%;
    }
    100% {
      width: 300px;
    }
  }
}
/*# sourceMappingURL=custom.css.map */